@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
 
*{
    font-family: "Ubuntu", serif;
    padding: 0;
    margin: 0;
}
a{
    color: rgb(237, 245, 244);
    text-decoration: none;
}
body{
    background-image:linear-gradient( to right, rgba(0, 0, 0, 0.795), rgba(25, 25, 46, 0.816) );
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.contaner{
    background-image: 
    linear-gradient(to right , #161637a1 30%, #000000e4),
    url(download.webp )
    ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center ;
    width:95%;
    height: 640px;


    

    
    

}
.contaner:hover{
    background-image: 
    linear-gradient(to right , #01022d6f 50%,transparent),
    url(download.webp)
    ;

}
header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.logo{

    font-size: 35px;
    text-transform: uppercase;


}
ul{
    width: 60%;
    list-style: none;
    display: flex;
    justify-content: space-between;


}
ul a{
    border-bottom: 2px solid transparent;
}
ul a:hover{
    border-bottom-color: white;

}
.content{
color: white;    width: 50%;
    margin-top: 50px;
    padding: 30px;
}
.content h2{
    font-size: 100px;
    text-transform: uppercase;
}
.content p{
    letter-spacing: 3px;
    width: 350px;
    padding: 20px 0;

}
.content button{
    font-size: 30px;
    padding: 6px 10px;
    border-radius: 30px;
    border: 2px solid transparent;
    cursor: pointer;
}
.content button:hover{
    background-color: transparent;
    border-color: rgb(243, 246, 239);
    color: rgb(254, 255, 253);
}

@media (min-width:300px) and (max-width:360px){
    body{
        width: 400px;
        height: 100vh;
    }
    .contaner{
        background-image: 
        linear-gradient(to right , #161637a1 30%, #000000e4),
        url(download.webp )
        ;
        width: 100%;
        height: 100vh;

        background-position:-520px;
        background-size: cover;
        
    }
    .contaner:hover{
        background-image: 
        linear-gradient(to right , #01022d6f 50%,transparent),
        url(download.webp)
        ;
    }    
    header{
        display: flex;
        justify-content: left;
        align-items: left;
        flex-direction:column;
        
    }
    ul{
        width: 39%;
       
    }
    
    ul li{
        
        font-size: 10px;
        font-weight: 400;
        

    }
    ul a:hover{
        border-bottom-color: white;
    
    }
  .logo{
    font-size: 20px;
    margin-bottom: 15px;
  }
  .content{
    
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column ;
    width: %;
    
  }
  .content h2{
    font-size: 25px;
    margin: 10px 0;
  }
  .content p{
    font-size: 10px;
    white-space: pre-line;

  }
  .content button{
    font-size: 15px;
    padding: 3px 2px;
    border-radius: 30px;
    border: 2px solid transparent;
    cursor: pointer;
    width: 100px;
  }
  .content button:hover{
    background-color: transparent;
    border-color: rgb(243, 246, 239);
    color: rgb(254, 255, 253);
}



}